body {
  margin: 0;
  font-family: 'Poppins';
}

a.btn-link {
  color: #000 !important;
}

section.auth-routes {
  max-width: 90% !important;
  margin: auto !important;
  padding-top: 100px;
}

div.card {
  max-width: 50%;
  margin: auto !important;
}

div.card > img {
  justify-content:center;
  margin: auto;
}

@media screen {
  div.card {
    max-width: 100% !important;
  }
}
