body {
  margin: 0;
  font-family: 'Poppins';
}

a.btn-link {
  color: #000 !important;
}

section.auth-routes {
  max-width: 90% !important;
  margin: auto !important;
  padding-top: 100px;
}

div.card {
  max-width: 50%;
  margin: auto !important;
}

div.auth-lists-mobile {
  display: none;
}

form.login-form {
  max-width: 50%;
  padding: 20px;
  margin: auto;
}

div.form-group {
  margin-bottom: 16px;
}

div.form-group input.form-control {
  height: 40px;
}

div.form-group button.btn {
  height: 40px;
}

p.h2 {
  margin-bottom: 6px;
  font-weight: 500;
  color: #000;
}

div.card > img {
  justify-content:center;
  margin: auto;
}

button.navbar-toggler {
  display: none;
}

@media (max-width: 767px) {
  form.login-form {
    max-width: 100% !important;
  }

  div.card {
    max-width: 100% !important;
  }

  span.navbar-brand {
    font-size: 14px;
  }

  div.auth-lists {
    display: none;
  }
}
